.card {
  &__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.7rem;
    max-inline-size: 30ch;
    padding-block-end: 1.2ex;
    background-color: hsl(var(--surface2));
    border-radius: 12px;
  }

  &__img {
    cursor: pointer;
  }

  &__image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 0.7;
    object-fit: cover;
    object-position: top center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  &__title {
    flex-grow: 1;
    flex-basis: 4ex;
    line-height: 1.125rem;
    padding-inline: 0.6ch;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(var(--on-surface));
    text-align: left;

    &:hover {
      text-decoration: underline;
    }
  }

  // box-orient and line-clamp to hide overflowing text after a second line appears
  // the height must be [line-clamp (value) * line-height (value)] = 2.250
  &__link {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 2.25rem;
    overflow: hidden;
    border-radius: 4px;

    &:focus-visible {
      outline: var(--focus);
      outline-offset: 2px;
    }
  }

  &__information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5ch;
    padding-inline: 0.6ch;
  }

  &__star {
    fill: #f5c518;
    stroke: #f5c518;
    width: 16px;
    height: 16px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 0.3ch;
    font-variant-numeric: tabular-nums;
  }

  &__number {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(var(--on-surface-variant));
  }

  &__duration {
    display: flex;
    align-items: center;
    gap: 0.2ch;
  }

  &__time {
    font-size: 0.9rem;
    color: hsl(var(--on-surface-variant));
    font-weight: 400;
  }

  &__controls {
    display: flex;
    justify-content: space-evenly;
  }

  &__button {
    background-color: transparent;
    &:focus-visible {
      outline: var(--focus);
    }

    &--watchlist {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2ch;
      padding: 0.5ch 0ch;
      background-color: hsl(var(--surface3));
      color: hsl(var(--primary));
      font-size: 1rem;
      align-self: center;
      border-radius: 6px;
    }

    &--info {
      // margin-inline-start: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      outline-offset: 2px;
      border-radius: 50%;
    }
  }

  // SVG Icons
  &__i {
    stroke: #000;
    @media (prefers-color-scheme: dark) {
      stroke: #fff;
    }

    [color-scheme='light'] & {
      stroke: #000;
    }

    [color-scheme='dark'] & {
      stroke: #fff;
    }
  }

  &__plus {
    stroke: hsl(var(--primary));
  }
}
