// @import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
// @import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700');
// @import url('https://fonts.googleapis.com/css?family=Sancreek');

#bottom-lip {
  // transform: scale(0.95) translate(0, -23px);
  transform-box: fill-box;
  transform-origin: center;
  // animation: test-test 1s alternate infinite;
}

@keyframes test-test {
  0% {
    transform: scale(1) translate(0px, 0px);
  }
  0% {
    transform: scale(0.95) translate(0, -24px);
  }
}

.cow {
  // @media (min-aspect-ratio: 1 / 1) {
  //   width: 20%;
  // }

  // @media (max-aspect-ratio: 1 / 1) {
  //   width: 70%;
  // }

  &__ear {
    transform-box: fill-box;
    &--left {
      transform-origin: center right;
    }
    &--right {
      transform-origin: center left;
    }
  }
}

.home {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: grid;
  grid-auto-flow: row;

  justify-items: center;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  align-items: center;
  position: relative;

  &__star {
    display: block;
    // position: absolute;
    // --_size-min: 4;
    // --_size-max: 15;
    // --_min-vw: 320;
    // --max-vw: 3500;
    // width: var(--size-clamp);
    // height: var(--size-clamp);

    @media (min-aspect-ratio: 1 / 1) {
      width: 35vmin;
    }

    @media (max-aspect-ratio: 1 / 1) {
      width: 25vmax;
    }

    z-index: 2;
    // offset-path: ellipse(55vmin 35vmin at center 49vmin);

    offset-path: ellipse(41vmin 33vmin at center 36.5vmax);
    offset-distance: 94.5%;
    // Small<<<<
    offset-path: ray(48.5deg sides);
    offset-distance: 49.5vmin;
    // BIG
    // offset-path: ray(53.5deg sides);
    // offset-distance: 47.5vmin;

    transform: scale(0.4);
    // offset-path: ray(75.5deg sides);
    // offset-distance: 51.6vmin;
    offset-rotate: 0deg;
    opacity: 1;
    .cow-wrapper {
      // display: none;
    }

    .star-circle {
      opacity: 1;
    }
    // @keyframes test-Z {
    //   0% {
    //     offset-path: ellipse(45vmin 15vmax at center 35vmax);
    //     transform: rotate(0turn) scale(0.4);
    //     offset-distance: 55%;
    //   }
    //   35% {
    //     offset-path: ellipse(45vmin 15vmax at center 35vmax);
    //     offset-distance: 94.5%;
    //     transform: rotate(3turn) scale(0.4);
    //   }
    //   35.001% {
    //     offset-path: ray(75.5deg sides);
    //     offset-distance: 51.6vmin;
    //   }

    //   50% {
    //     offset-distance: 20vmin;
    //   }

    //   80% {
    //     offset-distance: 0vmin;
    //     transform: rotate(7turn) scale(0.5);
    //   }
    //   100% {
    //     offset-path: ray(1080deg sides);
    //     offset-distance: 0vmin;
    //     transform: rotate(7turn) scale(1);
    //   }
    // }
  }

  &__title {
    --_size-min: 2.5;
    --_size-max: 12;
    --_min-vw: 320;
    --max-vw: 3500;
    font-weight: 700;
    font-size: var(--size-clamp);
  }

  &__curved-3d {
    display: inline-block;
    perspective: 500px;
    offset-path: ellipse(55vmin 35vmin at center 45vmin);

    // In portrait mode change the position to vmax(height)
    @media (max-aspect-ratio: 1 / 1) {
      offset-path: ellipse(45vmin 35vmin at center 30vmax);
    }
    opacity: 1;
    &--1 {
      offset-distance: 61%;
    }

    &--2 {
      offset-distance: 66%;
    }

    &--3 {
      offset-distance: 71%;
    }

    &--4 {
      offset-distance: 76%;
    }

    &--5 {
      offset-distance: 81%;
    }

    &--6 {
      offset-distance: 86%;
    }
    &--7 {
      offset-distance: 91%;
    }
  }

  &__letters-box {
    // Must be always an odd number, middle + front + back letters.
    // Middle letters traslations must cover the point of 0px in translation e.g.:
    // I want a total depth of 20px
    // Back is -10px & Front is 10px
    // Middle letters must be from -9px to +9px but i have to take in account the 0px point so its 19 total NOT 18.
    // So in order to have the divisions output integer values i always subtract 1.
    --_protrusionSize: 21;

    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    // Make the whole box translate back to its original position before translations were applied
    // So its the whole box depth / 2 subtracting the 0px point from the total size.
    transform: translateZ(calc(((var(--_protrusionSize) - 1) / 2) * -1px));

    // animation: rotate-M 1000ms infinite linear;

    // @keyframes rotate-M {
    //   0% {
    //     transform: scale(1) translateZ(-10px) rotateY(0deg);
    //     // transform: translateZ(-10px) translateY(0px) rotateX(0deg);
    //   }

    //   100% {
    //     transform: scale(1) translateZ(-10px) rotateY(360deg);
    //     // transform: translateZ(-10px) translateY(-20px) rotateX(20deg);
    //   }
    // }
  }

  &__letter {
    position: absolute;
    -webkit-text-stroke: 4px purple;

    &--front {
      transform: translateZ(calc(((var(--_protrusionSize) - 1) / 2) * 1px));
    }

    &--back {
      transform: translateZ(calc(((var(--_protrusionSize) - 1) / 2) * -1px));
    }

    &--middle {
    }

    &--left {
      left: 0;
      opacity: 0;
      color: purple;
      transform: translateX(-50%) rotateY(90deg);

      // On the letters "O O V" the "I" must be smaller due to curvature
      &-2,
      &-3,
      &-7 {
        transform: translateX(-50%) rotateY(90deg) scaleY(0.95);
      }

      &-4 {
        transform: translateX(-50%) rotateY(90deg) scaleY(0.95);
      }

      // animation: test-opacityleft 1000ms infinite linear;

      // @keyframes test-opacityleft {
      //   0% {
      //     opacity: 0;
      //   }

      //   22% {
      //     opacity: 0;
      //   }
      //   23% {
      //     opacity: 1;
      //   }

      //   26% {
      //     opacity: 1;
      //   }
      //   27% {
      //     opacity: 0;
      //   }

      //   100% {
      //     opacity: 0;
      //   }
      // }
    }

    &--right {
      color: purple;
      right: 0;
      opacity: 0;
      transform: translateX(50%) rotateY(270deg);

      // On the letters "O O V" the "I" must be smaller due to curvature
      &-2,
      &-3,
      &-7 {
        transform: translateX(50%) rotateY(270deg) scaleY(0.95);
      }

      &-4 {
        transform: translateX(50%) rotateY(270deg) scaleY(0.95);
      }

      // animation: test-opacity 1000ms infinite linear;

      // @keyframes test-opacity {
      //   0% {
      //     opacity: 0;
      //   }

      //   72% {
      //     opacity: 0;
      //   }

      //   73% {
      //     opacity: 1;
      //   }

      //   76% {
      //     opacity: 1;
      //   }
      //   77% {
      //     opacity: 0;
      //   }

      //   100% {
      //     opacity: 0;
      //   }
      // }
    }
  }
}
