@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Sancreek');
.home {
}

.curved {
  width: 80%;
  display: block;
  margin-inline: auto;
  aspect-ratio: 16 / 9;
}
.svgtext2 {
  font-size: 0.3rem;
  font-weight: 400;
}

.cow {
  width: 50%;
  margin-left: 25%;
}

#eye_left {
  transform-box: fill-box;
  transform-origin: center;

  // animation: test-eye-roll 2s infinite;
}

@keyframes test-eye-roll {
  // from {
  //   transform: translate(20px, 30px);
  // }
  to {
    transform: translate(20px, 30px);
  }
}
