@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Sancreek');
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.curved {
  width: 80%;
  display: block;
  margin-inline: auto;
  aspect-ratio: 16 / 9;
}
.svgtext2 {
  font-size: 0.3rem;
  font-weight: 400;
}

.cow {
  &__ear {
    transform-box: fill-box;
    &--left {
      transform-origin: center right;
    }
    &--right {
      transform-origin: center left;
    }
  }
}

#bottom-lip {
  // transform: scale(0.95) translate(0, -23px);
  transform-box: fill-box;
  transform-origin: center;
  // animation: test-test 1s alternate infinite;
}

@keyframes test-test {
  0% {
    transform: scale(1) translate(0px, 0px);
  }
  0% {
    transform: scale(0.95) translate(0, -24px);
  }
}
