.progress-bar {
  --_load: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100vw;
  height: 2px;
  background-color: hsl(var(--surface1));

  &__progress {
    display: block;
    width: 100vw;
    height: 100%;
    background-color: hsl(var(--primary));
    transform: scaleX(var(--_load));
    transform-origin: left;
    transition: transform 0.5s ease;

    &[data-progressbar-hide='true'] {
      opacity: 0;
    }
  }
}
