.top-movies {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-inline-size: 140ch;
  margin-inline: auto;
  margin-block-start: calc(var(--body-margin-default) + 1rem);
  margin-block-end: 5rem;
  padding-inline: 1.4rem;
  @media only screen and (max-width: 72em) {
    padding-inline: 1rem;
    margin-block-start: calc(var(--body-margin-default));
  }

  &__heading-group {
    @media only screen and (max-width: 37.5em) {
      text-align: center;
    }
  }

  &__heading {
    --_size-min: 1.6;
    --_size-max: 2.5;
    font-size: var(--size-clamp);
    font-weight: 500;
  }

  &__paragraph {
    padding-inline-start: 0.5ch;
  }

  &__controls-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    background-color: hsl(var(--surface2));
    max-inline-size: max-content;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: var(--shadow-small);

    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
      gap: 1rem;
      margin-inline: auto;
    }
  }

  &__form {
    display: flex;
    gap: 1ch;
  }

  &__select {
    padding: 0.1rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(var(--primary));
    background-color: hsl(var(--surface1));
    border: 1px solid hsl(var(--outline));
    border-radius: 4px;

    @media (pointer: fine) {
      cursor: pointer;
    }

    &:hover:not(:focus-visible) {
      opacity: 0.9;
    }

    & option {
      color: hsl(var(--on-surface));
    }

    &:focus-visible {
      outline: var(--focus);
      outline-offset: 2px;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    background-color: transparent;
    max-inline-size: max-content;
    border-radius: 50%;

    &:is(:hover, :focus-visible) {
      background-color: hsl(var(--background-outline));
    }

    &:focus-visible {
      outline: var(--focus);
    }
  }

  &__radio-container {
    display: flex;
    gap: 1ch;

    @media only screen and (max-width: 37.5em) {
      gap: 1.5rem;
    }
  }

  &__radio-wrapper {
    display: grid;
  }

  &__label {
    &--select {
      margin-inline-end: 1rem;
    }

    &--radio {
      grid-area: 1 / 1;
      padding: 0.1rem;
      border-radius: 12px;
      border-radius: 5px;

      // This is important because on touch devices when a click happens on a checkbox,
      // a lightblue color appears as a background for a brief second.
      @media (pointer: fine) {
        cursor: pointer;
      }
      @media (pointer: coarse) {
        user-select: none;
      }
    }
  }
  &__radio {
    appearance: none;
    border: none;
    background: none;
    grid-area: 1 / 1;
    z-index: -1;
    inline-size: 100%;
    block-size: 100%;

    &:is(:hover, :focus-visible) ~ label {
      background-color: hsl(var(--background-outline));
    }

    &:focus-visible ~ label {
      outline: var(--focus);
    }
  }

  &__icon {
    &--check {
      stroke: hsl(var(--on-success));
      stroke-width: 3px;
    }

    &--grid,
    &--list {
      fill: hsl(var(--on-surface-variant));
      stroke: hsl(var(--on-surface-variant));
      .top-movies__radio:checked ~ label & {
        stroke: hsl(var(--primary));
        fill: hsl(var(--primary));
      }
      @media (prefers-reduced-motion: no-preference) {
        transition: fill 0.125s, stroke 0.125s;
      }
    }
  }
}

// fill: hsl(var(--on-surface-variant));
// stroke: hsl(var(--on-surface-variant));

//  stroke: hsl(var(--primary));
//

// GRID
//  stroke: hsl(var(--primary));
//         fill: hsl(var(--primary));
//         @media (prefers-reduced-motion: no-preference) {
//           transition: fill 0.125s, stroke 0.125s;
//         }
