.user-settings {
  display: grid;
  place-content: center;
  gap: 2vh;
  margin-block-start: 4rem;
  @media only screen and (max-width: 50em) {
    margin-block-start: 2rem;
  }

  &__heading {
    --_size-min: 1.6;
    --_size-max: 1.9;
    text-align: center;
    font-size: var(--size-clamp);
    font-weight: 400;
  }

  &__paragraph-wrapper {
    background-color: hsl(var(--surface2));
    padding: 1rem;
    border-radius: 6px;
    box-shadow: var(--shadow-small);
  }

  &__test {
    color: hsl(var(--on-surface-variant));
  }

  &__form {
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-inline: auto;
    padding: 1ch 2ch;
    max-inline-size: min(40ch, 90vw);
    background-color: hsl(var(--surface2));
    border: 1px solid hsl(var(--outline));
    border-radius: 6px;
  }
  &__legend {
    text-align: center;
    padding-inline: 0.2rem;
  }
  &__input-container {
    inline-size: 100%;
  }
  &__label-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-block-end: 0.2rem;
  }

  &__label {
    color: hsl(var(--on-surface));
  }
  &__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  &__input {
    inline-size: 100%;
    padding: calc(0.2rem + 1px) calc(0.4rem + 1px);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid hsl(var(--outline) / 0.7);
    border-radius: 6px;

    &:hover {
      border-color: hsl(var(--outline));
    }
    &:focus-visible {
      outline: none;
      padding: 0.2rem 0.4rem;
      border: 2px solid hsl(var(--primary));
    }
    &[aria-invalid='true']:not(:focus-visible) {
      border: 1px solid hsl(var(--on-surface-error));
    }
  }

  &__error {
    color: hsl(var(--on-surface-error));
  }

  &__show-password {
    position: absolute;
    inset-block-start: 0.22rem;
    inset-inline-end: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.15ch 0.2ch;
    background-color: transparent;
    border-radius: 6px;

    &:hover {
      background-color: hsl(var(--background-outline));
    }

    &:focus-visible {
      outline: var(--focus);
    }
  }

  &__button {
    align-self: flex-end;
    background-color: hsl(var(--primary));
    font-size: 1rem;
    inline-size: max-content;
    padding: 0.3rem 0.6rem;
    color: hsl(var(--on-primary));
    border-radius: 8px;

    &--delete-account {
      background-color: hsl(var(--on-surface-error));
    }

    &:hover {
      opacity: 0.9;
    }

    &:focus-visible {
      outline: var(--focus);
      outline-offset: 2px;
    }
  }
}
