.test {
  display: grid;
  align-content: center;
  align-items: center;
  // justify-content: center;
  grid-template-columns: auto 1fr auto;
  // justify-items: center;
  min-block-size: calc(100vh - 70px);
  // grid-auto-flow: column;

  &__box {
    block-size: 150px;
    inline-size: 150px;
    background-color: aqua;
  }
}
