.test {
  --_ba: 0;
  &__div {
    display: grid;
  }

  &__h {
    color: hsl(var(--_ba) 50% 50%);
    &--animate {
      animation: test-anim 3s linear infinite;
    }
  }

  @keyframes test-anim {
    20% {
      --_ba: 20;
    }

    60% {
      --_ba: 100;
    }

    100% {
      --_ba: 360;
    }
  }
}
